<IfModule mod_rewrite.c>
    RewriteEngine on

    # Allow .well-known through for Let's Encrypt.
    RewriteRule ^\.well-known - [L]

    #RewriteCond %{HTTPS} !^on
    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

    #Define a pasta public do Laravel
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
