@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.jsx';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --animate-in: animate-in;
    --animate-out: animate-out;
    --fade-in: fade-in;
    --fade-out: fade-out;
    --zoom-in-95: zoom-in-95;
    --zoom-out-95: zoom-out-95;
    --slide-in-from-left-1/2: slide-in-from-left-1/2;
    --slide-in-from-top-48: slide-in-from-top-48;
    --slide-out-to-left-1/2: slide-out-to-left-1/2;
    --slide-out-to-top-48: slide-out-to-top-48;
}

@layer base {
    * {
        @apply border-gray-200 dark:border-gray-800;
    }
    body {
        @apply bg-white dark:bg-gray-950 text-gray-950 dark:text-gray-50;
    }
}

